<script>
export default {
  props: {
    content: {
      type: Object,
      required: true,
      default: null,
    },
    table: {
      type: Object,
      required: true,
      default: null,
    },
  },
  computed: {
    columns() {
      const table = {
        plan: [...this.table.plan].sort(this.sortByMaturity),
        create: [...this.table.create].sort(this.sortByMaturity),
        verify: [...this.table.verify].sort(this.sortByMaturity),
        secure: [...this.table.secure].sort(this.sortByMaturity),
        package: [...this.table.package].sort(this.sortByMaturity),
        release: [...this.table.release].sort(this.sortByMaturity),
        configure: [...this.table.configure].sort(this.sortByMaturity),
        monitor: [...this.table.monitor].sort(this.sortByMaturity),
        govern: [...this.table.govern].sort(this.sortByMaturity),
      };

      return table;
    },
  },
  methods: {
    sortByMaturity(a, b) {
      if (
        a.maturity === 'complete' ||
        a.maturity === 'viable' ||
        (a.maturity === 'lovable' && b.maturity === 'minimal') ||
        b.maturity === 'planned'
      ) {
        return -1;
      }
      if (a.maturity === 'planned' && b.maturity !== 'planned') {
        return 1;
      }
      return 0;
    },
    maturity(maturityLevel) {
      switch (maturityLevel) {
        case 'complete':
          return 'mature';
        case 'viable':
          return 'mature';
        case 'lovable':
          return 'mature';
        case 'minimal':
          return 'early';
        case 'planned':
          return 'planned';
        default:
          return 'default';
      }
    },
    link(maturityLevel, marketing, documentation, direction) {
      if (maturityLevel !== 'planned') {
        return marketing || documentation;
      }
      return documentation || direction;
    },
  },
};
</script>

<template>
  <section class="table-section">
    <SlpContainer :aria-label="content.table_label">
      <div class="table">
        <div
          v-for="category in columns"
          :key="category[0].stage"
          class="column"
        >
          <div class="sub-column-wrapper">
            <div class="sub-column">
              <div
                :class="`stage-name ${
                  category[0].stage == 'govern' ? 'last' : ''
                }`"
              >
                <a
                  :href="`https://about.gitlab.com/direction/${category[0].stage.toLowerCase()}/`"
                  :data-ga-name="`${category[0].stage} direction page`"
                  data-ga-location="features table"
                >
                  {{ category[0].stage }}
                </a>
              </div>
              <div class="features">
                <span
                  v-for="feature in category"
                  :key="feature.name"
                  :aria-describedby="`${maturity(feature.maturity)}-feature`"
                >
                  <a
                    v-if="
                      link(
                        feature.maturity,
                        feature.marketing_page,
                        feature.documentation,
                        feature.direction,
                      )
                    "
                    :href="
                      link(
                        feature.maturity,
                        feature.marketing_page,
                        feature.documentation,
                        feature.direction,
                      )
                    "
                    :data-ga-name="feature.name"
                    data-ga-location="feature table"
                    :class="maturity(feature.maturity)"
                  >
                    {{ feature.name }}
                  </a>
                  <SlpTypography
                    v-else
                    tag="p"
                    :class="maturity(feature.maturity)"
                    variant="body3-bold"
                  >
                    {{ feature.name }}
                  </SlpTypography>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="legend">
          <SlpTypography tag="p" variant="body2">
            Feature maturity key:
          </SlpTypography>
          <div>
            <SlpTypography
              id="mature-feature"
              tag="span"
              class="mature"
              variant="body3-bold"
              >Mature</SlpTypography
            ><SlpTypography
              id="early-feature"
              tag="span"
              class="early"
              variant="body3-bold"
              >Early</SlpTypography
            ><SlpTypography
              id="mature-feature"
              tag="span"
              class="planned"
              variant="body3-bold"
              >Planned</SlpTypography
            >
          </div>
        </div>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
::-webkit-scrollbar {
  display: none;
}
.table-section {
  padding: 0 0 $spacing-64 0;
  background: $color-surface-700;
  color: $color-text-50;
  position: relative;
  width: 100%;
}

.slp-container {
  position: relative;
}

.table {
  @media (max-width: $breakpoint-md) {
    overflow-x: auto;
  }
}

.category-header,
.spacer {
  min-height: 90px;
  padding: $spacing-16;

  @media (max-width: $breakpoint-md) {
    min-height: 109px;
  }
}

.spacer {
  margin-bottom: 1px;
}

.stage-name {
  text-transform: capitalize;
  font-size: $text-body-2-bold;
  line-height: $line-height-body-2-bold;
  font-weight: $font-weight-bold;
  display: block;
  background: $color-surface-50;
  color: $color-surface-700;
  position: relative;
  padding-left: $spacing-16;
  padding-top: $spacing-4;
  padding-bottom: $spacing-4;

  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.table .column .sub-column .stage-name:not(.last):after {
  content: url('data:image/svg+xml, <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.22 2.22a.75.75 0 011.06 0l5.252 5.252a.75.75 0 010 1.06L6.28 13.784a.75.75 0 11-1.06-1.06l4.72-4.723L5.22 3.28a.75.75 0 010-1.06z"></path></svg>');
  position: absolute;
  font-size: 20px;
  top: 6%;
  right: 7%;
  width: 15px;
  z-index: 1;
  padding: $spacing-4;
  transform: scale(1.5);
}

// Very last category's last subcolumn's arrow
.stage-name.last {
  width: 92%;
  &::after {
    color: $color-surface-50;
    border-left: 13px solid;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    right: -13px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.table,
.column {
  display: flex;
}

.column {
  flex-direction: column;
  min-height: 450px;
  height: 100%;
  &.has-header {
    border: 1px solid $color-surface-50;
    border-radius: 16px 16px 0 0;
  }
}

.sub-column-wrapper {
  display: flex;

  @media (min-width: $breakpoint-lg) {
    .sub-column {
      max-width: 230px;
    }
  }
}

.features {
  padding: $spacing-16;

  a,
  p {
    display: block;
    font-size: $text-body-3;
    line-height: $line-height-body-3;
    margin-bottom: $spacing-8;
  }

  a:hover {
    text-decoration: underline;
  }
}
.mature,
.early,
.planned {
  font-weight: $font-weight-bold;
}

.mature {
  color: $color-text-50;
}

.early {
  color: #ac9ccb;
}

.planned {
  color: #dc9840;
}

.legend {
  text-align: right;
  margin-top: $spacing-32;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: $breakpoint-md) {
    text-align: left;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-bottom: $spacing-8;
    }
  }

  .mature,
  .early,
  .planned {
    border: 1px solid $color-surface-50;
    border-radius: 8px;
    padding: $spacing-4 $spacing-24;
    font-size: 13px;
  }
  .mature {
    margin-left: $spacing-16;

    @media (max-width: $breakpoint-md) {
      margin-left: 0;
    }
  }
  .early {
    margin: 0 $spacing-16;
  }
}
</style>
