<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SolutionsResourcesVideoCard',
  props: {
    cardData: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      modalIsOpen: false,
    };
  },
  methods: {
    closeModal() {
      this.modalIsOpen = false;
    },
    openModal() {
      this.modalIsOpen = true;

      setTimeout(() => {
        // eslint-disable-next-line no-underscore-dangle
        window.__vimeoRefresh();
      }, 3000);
    },
  },
});
</script>

<template>
  <div class="resources-card-video-card">
    <div class="resources-card-video-card__wrapper">
      <div class="resources-card-video-card__content-top">
        <div class="resources-card-video-card__icon slp-flex">
          <SlpIcon
            v-if="cardData.icon"
            :name="cardData.icon.name"
            :variant="cardData.icon.variant"
            :alt="cardData.icon.alt"
            slp-color="text-300"
          />
          <SlpTypography
            tag="p"
            variant="body2"
            class="resources-card-video-card__type"
            >{{ cardData.event_type }}
          </SlpTypography>
        </div>
        <div
          class="slp-my-24 resources-card-video-card__image"
          @click="openModal()"
        >
          <nuxt-img
            class=""
            :src="
              cardData.image ||
              cardData.fallback_image ||
              '/nuxt-images/resources/fallback/img-fallback-cards-infinity.png'
            "
            alt=""
            loading="lazy"
          />
          <SlpButton
            variant="ghost"
            class="resources-card-video-card__video-button"
          >
            <SlpIcon
              class="resources-card-video-card__icon"
              name="play-circle"
              variant="marketing"
              size="lg"
              slp-color="text-primary-200"
            />
          </SlpButton>
        </div>

        <SlpTypography tag="h3" variant="body1" class=""
          >{{ cardData.header }}
        </SlpTypography>
      </div>
      <div v-if="cardData.text" class="resources-card-video-card__content-text">
        <SlpTypography variant="body1">{{ cardData.text }}</SlpTypography>
      </div>
      <div class="resources-card-video-card__content-bottom">
        <SlpTypography
          variant="button"
          tag="span"
          class="resources-card-video-card__link"
          @click.native="openModal()"
          >{{ cardData.link_text }}
          <SlpIcon class="slp-ml-8" variant="product" name="chevron-lg-right" />
        </SlpTypography>
      </div>
    </div>

    <SolutionsVideoModal
      v-if="modalIsOpen"
      light-background
      :visible="modalIsOpen"
      @close="closeModal"
    >
      <template #body>
        <SlpContainer>
          <!-- Use Embed video url -->
          <iframe
            ref="video"
            :src="cardData.href"
            title="Video player"
            class="resources-card-video-card__modal-video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </SlpContainer>
      </template>
    </SolutionsVideoModal>
  </div>
</template>

<style lang="scss" scoped>
.resources-card-video-card {
  display: flex;
  position: relative;
  height: 100%;
  min-width: 300px;
  @media (min-width: $breakpoint-md) {
    margin: $spacing-16 $spacing-16 $spacing-16 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    justify-content: space-between;
    padding: $spacing-32 $spacing-16;
    flex: 1;

    &:hover {
      background: $color-surface-900;
      border-bottom-right-radius: 100px;
      .resources-card-video-card__video-button {
        fill: $color-text-link-100;
        color: $color-text-link-100;
      }
    }
  }

  &__image {
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      min-height: 235px;
      object-fit: cover;
      object-position: 25% 0;
    }
  }

  &__link {
    color: $color-text-300;
    padding-left: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__type {
    text-transform: uppercase;
    margin-left: $spacing-8;
    letter-spacing: 1px;
  }

  &__content-text {
    color: $color-text-300;
  }

  &__content-top {
    p,
    h3 {
      color: $color-text-300;
    }
  }

  .slp-text-button,
  .slp-btn-ghost {
    font-weight: 600;
  }

  &__video-button {
    position: absolute;
    opacity: 0.75;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
  }

  &__modal-video {
    border-radius: $border-radius-4;
    border: none;
    width: 330px;
    height: 200px;
    @media (min-width: $breakpoint-md) {
      width: 700px;
      height: 390px;
    }
    @media (min-width: $breakpoint-lg) {
      width: 920px;
      height: 516px;
    }
  }
}
</style>
